.button {
  padding: 8px 16px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #e4e4e4;
}

.button:focus {
  outline: none;
}

.button.previous-month {
  margin-right: 10px;
}

.button.next-month {
  margin-left: 10px;
}

.button.add {
  margin-left: auto;
}

.small-button {
  padding: 6px 10px;
  margin: 3px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.small-button:hover {
  background-color: #e4e4e4;
}

.button.add-all-over-div {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.calendar-container {
  display: flex;
  gap: 10px;
  /* Add gap between calendar and todo list */
}

.calendar {
  flex: 75%;
  /* Adjust width of the calendar */
  padding: 20px;
  border-radius: 5px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.weekday {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.weekday:nth-child(1),
.weekday:nth-child(7) {
  background-color: #dcdcdc;
}

.calendar-day {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 11.111vh; /* 1/9 of viewport height */
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.calendar-day:nth-child(7n+1),
.calendar-day:nth-child(7n+7) {
  background-color: #dcdcdc;
}

.calendar-day.empty {
  background-color: transparent;
  pointer-events: none;
}

.calendar-day:hover {
  background-color: #e4e4e4;
}

.calendar-day.current-date {
  background-color: #ff9999;
}

.fixed-h2-container {
  display: flex;
  justify-content: center;
}

.fixed-h2-container h2 {
  width: 200px; /* Set your desired fixed width */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-list {
  width: 25%;
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.todo-header {
  display: flex;
  align-items: center;
}

.todo-input {
  display: flex;
  margin-bottom: 10px;
}

.todo-input input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item.completed {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.due-info {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
}

.cancel-icon {
  width: 18px;
  height: 18px;
}

.add-icon {
  width: 18px;
  height: 18px;
}

.delete-icon {
  width: 12px;
  height: 12px;
}

.toggle-icon {
  width: 12px;
  height: 12px;
}

.add-icon {
  width: 18px;
  height: 18px;
}